#gantt-table {
    .default-no-fold {
        min-width: 100%;
        display: inline-block;

        .th {
            background: lightblue;

            .tr {
                display: flex;

                .td {
                    min-width: 40px;
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .tb {
            position: relative;

            .tr {
                min-height: 30px;
                background: rgba(149, 160, 218, 1);

                &:nth-child(even) {
                    background: rgba(149, 160, 218, 0.8);
                }
            }
        }
    }
}