#gantt-table {
    .default-no-fold {
        width: 100%;
        min-width: 450px;

        .th {
            background: lightblue;
        }

        .tb {
            position: relative;

            .tr {
                min-height: 30px;
                background: rgba(149, 160, 218, 1);

                &:nth-child(even) {
                    background: rgba(149, 160, 218, 0.8);
                }
            }
        }
    }
}