@import url(./style/common.less);

#gantt-wrap {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    background: #fff;

    .task-table {
        flex-shrink: 0;
        overflow: auto;
        width: 300px;
        border: 1px solid @border-color;
    }

    .resize-handler {
        position: absolute;
        height: 100%;
        width: 10px;
        background: rgba(107, 71, 62, 0);
        transform: translateX(-50%);
        cursor: w-resize;
        z-index: 100;
    }

    .gantt-table {
        overflow: auto;
        flex: 1;
        border: 1px solid @border-color;
        border-left: none;
    }
}