#task-table {
    .th {
        .tr {
            display: flex;

            .td {
                flex: 1;
                // overflow: hidden;
                // text-overflow: ellipsis;
                // white-space: nowrap;

                &:nth-child(odd) {
                    background: pink;
                }
            }
        }
    }

    .tb {
        .tr {
            display: flex;

            .td {
                flex: 1;

                &:nth-child(odd) {
                    background: red;
                }
            }
        }
    }
}