#task-table {
    .th {
        .tr {
            display: flex;
            min-height: 90px;

            .td {
                flex: 1;

                &:nth-child(odd) {
                    background: pink;
                }
            }
        }
    }

    .tb {
        .tr {
            display: flex;
            min-height: 30px;

            .td {
                flex: 1;

                &:nth-child(odd) {
                    background: red;
                }
            }
        }
    }
}